body, html {
    background-color: #0C95E4;
    font-family: Arial, sans-serif;
    display: flex;
    height: 100vh;
    margin: 0;
    padding: 0;
}

#navbar {
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#navbar {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20% 10px;
    position: static;
    z-index: 1000;
    background-color: #ffffff;
    height: 100%;
    box-sizing: border-box;
}

main {
    width: 80%;
    padding: 10px;
    box-sizing: border-box;
}



button {
    background-color: #0C95E4;
    color: white;
    border: none;
    padding: 10px 20px;
    margin: 0 5px;
    border-radius: 5px;
    cursor: pointer;
}

button:focus {
    outline: none;
}

button#language-select {
    position: static;
    margin-left: auto;
}


